<!-- Footer START -->
  <footer class="content-footer">
    <div class="footer">
      <div class="copyright">
        <span>Powered by <b class="text-dark">Club Innovative</b>. </span>
        <span class="go-right">
          <p>For Queries Contact : <b>clubinnovative@gmail.com</b>  <b>9626244242</b></p>
        </span>
      </div>
    </div>
  </footer>
<!-- Footer END -->