<!-- Header START -->
<div class="header navbar">
    <div class="header-container">
      <div class="nav-logo">
        <a href="index.html">
          <b><img src="/img/logo.png" alt=""></b>
          <span class="logo">
            <img src="/img/logo-text.png" alt="">
          </span>
        </a>
      </div>
      <ul class="nav-left">
        <li>
          <a class="sidenav-fold-toggler" href="javascript:void(0);">
            <i class="lni-menu"></i>
          </a>
          <a class="sidenav-expand-toggler" href="javascript:void(0);">
            <i class="lni-menu"></i>
          </a>
        </li>
      </ul>
      <ul class="nav-right">
        
        
        <li class="user-profile dropdown dropdown-animated scale-left">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            <img class="profile-img img-fluid" src="/img/avatar/avatar.jpg" alt=""> 
          </a>
          <ul class="dropdown-menu dropdown-md">
            <li>
              <ul class="list-media">
                <li class="list-item avatar-info">
                  <div class="media-img">
                    <img src="/img/avatar/avatar.jpg" alt="">
                  </div>
                  <div class="info">
                    <span class="title text-semibold">Tomas Murray</span>
                    <span class="sub-title">UI/UX Desinger</span>
                  </div>
                </li>
              </ul>
            </li>
            <li role="separator" class="divider"></li>
            <li>
              <a href="">
                <i class="lni-user"></i>
                <span>Profile</span>
              </a>
            </li>
            <li>
              <a href="">
                <i class="lni-lock"></i>
                <span>Logout</span>
              </a>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
  <!-- Header END -->